.landing-feature-list {
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.landing-header {
  line-height: 58px;
}

.landing-sub {
  font-weight: 200;
}

.landing-buttons {
  margin-bottom: 70px;
}
