<!--
  <ul class="listed-vacancies">
    <li>
      <a href="#se">Service Engineer - North- or South America</a>
    </li>
    <li>
      <a href="#sl">Sales Lead - America, Europe</a>
    </li>
  </ul>
-->


<!--
  <div class="vacancy" id="se">
    <h1>service engineer
      <small>North- or South America</small>
    </h1>

    <p>
      GitLab B.V. is growing quickly and we would love to grow our team with a service engineer.
      The rising popularity of GitLab means that our professional services are in high demand.
      If you got the skills to help to our clients we would love to talk to you.
    </p>

    <p>
      Because most of our clients are in the United States you will need to be in a timezone near there.
      We are open to candidates who are located from Pacific Standard Time (-8) to Atlantic Standard Time (-4).
      If you are a vampire you can be located from Moscow Standard Time (+4) to Singapore Time (+8).
      We're open to candidates from both inside and outside the United States.
    </p>

    <p>
      You would be engaging with our customers, this can be anything from as small advertising firm, a university to Fortune 100 clients.
      You have appointments throughout the day with clients that have filled out a small questionnaire.
      You get remote access to their GitLab server(s) and diagnose, upgrade, troubleshoot, configure, backup and reinstall it.
      During the the appointment you keep in touch with the client through chat or video conference.
    </p>

    <p>
      When you do not have an appointment you engage with the rest of the core team to improve GitLab.
      You fix problems, add features, improve documentation, polish the website and engage with people on various forums.
    </p>

    <p>
      You need to have experience with Unix and need to be able to program.
      Most clients will run RedHat or Debian variants and GitLab is written in Ruby on Rails.
      But we are open to people who for example love Solaris and C, as long as you like Unix and programming you will fit right in.
      You don't have to be an English native but good written and verbal English is a must to engage with clients.
    </p>

    <p>
      At GitLab B.V. we mostly work from home and love to go to Rails conferences (paid for by GitLab B.V.).
      We are looking for people who can handle and enjoy the freedom that comes with working from home.
      Our watercoolers are Slack and a daily Hangout.
    </p>

    <h3>Day in the life</h3>

    <p>
      A typical day as service engineer for GitLab starts with the weekly morning meeting.
      As you have a lot of contact with our customers, it's your task during the meeting to call everyone else to duty.
      After the meeting, you provide support to large companies using GitLab. Rather than answering everything
      quickly, you'll spend most of your time fixing bugs in GitLab, helping customers with complex scaling problems
      and if you can't solve it yourself, working with your colleagues on the issue at hand.
    </p>

    <p>
      Occasionally, you'll SSH into the system of our customers to solve problems on the spot or call with them
      to discuss their plans of using GitLab.
    </p>

    <p>
      Besides support, you'll be looking for ways to improve GitLab in any facet. You might want to build a new
      feature, improve the website (yes please!) or initiate something new. You'll also be asked to manage our
      GitLab.com instance, where thousands of users push and pull happily every day, and have to help with releasing
      GitLab every month on the 22nds.
    </p>

    <p>
      GitLab is a booming startup in every sense of the word. You can do anything and there is more to do than
      hands are available. Everything you do will be something someone else doesn't have the time for or didn't
      have the time to think about. You'll make a significant change in the company.
    </p>

    <h3>Contact</h3>
    <p>
      Interested? Please send an email to sytse at gitlab dot com with a resume or a link to your LinkedIn profile.
    </p>

    <p>
      <small>
        Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
      </small>
    </p>
  </div>
-->
