---
layout: default
title: Community
suppress_header: true
extra_css:
  - community.css
extra_js:
  - community.js
---

<div class="community wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a href="/core-team">
          <img src="/images/icons/team.png" id="core-team">
          <h2>Core Team</h2>
          <p>People behind the open-source project.</p>
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="http://contributors.gitlab.com/">
          <img src="/images/icons/contributors.png" id="contributors">
          <h2>Contributors</h2>
          <p>Contributors to the open-source project.</p>
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a href="/documentation">
          <img src="/images/icons/documentation.png" id="documentation">
          <h2>Documentation</h2>
          <p>All GitLab projects in one place.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/getting-help">
          <img src="/images/icons/help.png" id="help">
          <h2>Getting Help</h2>
          <p>How to get help and stay informed.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/contributing">
          <img src="/images/icons/contributing.png" id="contributing">
          <h2>Contributing</h2>
          <p>Information on how to contribute to the projects.</p>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a href="/applications">
          <img src="/images/icons/apps.png" id="applications">
          <h2>Applications</h2>
          <p>List of applications which support GitLab.</p>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-sm-6 col-md-4">
        <a href="/mvp">
          <img src="/images/icons/mvp.png" id="mvp">
          <h2>Hall of Fame</h2>
          <p>The most valuable persons in past releases.</p>
        </a>
      </div>
    </div>
  </div>
</div>
